<div class="page-header">
    <h1>Registro Proveedores</h1>
</div>
<form class="form-horizontal" role="form" name="proveedorForm" ng-submit="registraProveedor(proveedor)">
    <div class="form-group">
        <div class="col-xs-2 col-md-2">
            Nombre:
        </div>
        <div class="col-xs-6 col-md-4">
            <input type="text" name="nombre" id="proveedor.nombre" ng-model="proveedor.nombre" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-md-2">
            Apellido paterno:
        </div>
        <div class="col-xs-6 col-md-4">
            <input type="text" name="paterno" id="proveedor.paterno" ng-model="proveedor.paterno" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-md-2">
            Apellido materno:
        </div>
        <div class="col-xs-6 col-md-4">
            <input type="text" name="materno" id="proveedor.materno" ng-model="proveedor.materno" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 col-md-2">
            Empresa:
        </div>
        <div class="col-xs-6 col-md-4">
            <input type="text" name="empresa" id="proveedor.empresa" ng-model="proveedor.empresa" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-6 col-md-4">
            <button class="btn btn-primary btn-lg" type="submit" title="Registrar">
                Registrar  <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
        </div>
    </div>
</form>