 /* base dailygraphics styles */
html { 
	-webkit-text-size-adjust: none; 
}
body {
    margin: 0;
    font: 14px/1.4 Arial, Helvetica, sans-serif;
    color: black;
}
.footnotes { margin-bottom: 20px; }
.footnotes h4 {
    margin: 2px 0 7px 0;
    color: #666;
    font-size: 11px;
}
.footnotes p,
.footer p {
    margin: 2px 0 0 0;
    font-size: 11px;
    line-height: 1.3;
    color: #808080;
}

a:hover, a:active { opacity: 0.7; }	

.panel {
	border-width: 1px;
}
.panel-heading {
	background-color: steelblue !important;
}


a, a:link, a:visited {
       /*color: blue;*/
    text-decoration: none;
}

.panel-title {
    color: white;
}

#graphic {
    min-height: 365px;
}